# Python bytecode
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/
env/

# Локальные настройки IDE
.idea/
.vscode/

# Файлы настроек ОС
.DS_Store
Thumbs.db

# Логи
*.log

# База данных (убрать или закомментировать, чтобы сохранить базу в гит)
# db.sqlite3

# Папки с миграциями, если нужно, но обычно их лучше хранить
# migrate/
# миграции Django
*/migrations/*.py
!*/migrations/__init__.py

# Секретные файлы, ключи, файлы конфигурации
*.secret
*.env