<!-- templates/message_new_post.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Здравствуйте, {{ user.username }}!</h2>
    <hr>
    <p>Новая статья в твоём любимом разделе: <strong>
        {% for category in post.post_category.all %}
        {{ category.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </strong></p>
    <h3>Тема: {{ post.title }}</h3>
    <p>Текст: {{ post.text|slice:":50" }}{% if post.text|length > 50 %}...{% endif %}</p>
    <hr>
    <p>Дата публикации: {{ post.time_creation }}</p>
    <hr>
    <h4>Ссылка на статью</h4>
    <a href="{{ post_url }}">Читать статью полностью</a>
</body>
</html>