<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название у нас будет из заголовка -->
{% block title %}
    Статья "{{ post.title|censor }}"
{% endblock title %}

<!-- В контенте на странице мы выводим саму статью, айди которого было передано в адрес -->
{% block content %}

    <br>
    <h3>Статья: "{{ post.title|censor }}"</h3><br>
    <h6>Дата публикации: {{ post.time_creation|date:'d M Y h:m' }}</h6>
    <h6>Автор: {{ post.author }}</h6>
    <h6>Категория:
    {% for each in post.post_category.all %}
        {{ each.name }}{% if not forloop.last %}, {% endif %}
    {% empty %}
        Нет категорий
    {% endfor %}
    <br>
    {{ post.text|censor }}
    <br>
    <br>
     <a href="{% url 'post_list' %}"><--Вернуться к новостям </a>
{% endblock content %}